@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input,
textarea,
button {
  @apply font-normal text-base;
  -webkit-font-smoothing: antialiased;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #00875f;
}

.active {
  @apply text-green-500
}

::-webkit-calendar-picker-indicator {
  display: none !important;
}

table th:first-child {
  border-top-left-radius: 8px;
  padding-left: 1.5rem;
}

table th:last-child {
  border-top-right-radius: 8px;
  padding-right: 1.5rem;
}

table td:first-child {
  width: 50%;
  padding-left: 1.5rem;
}

table td:last-child {
  padding-right: 1.5rem;
}